.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  &.show {
    opacity: 0.8;
    pointer-events: auto;
  }

  &:hover {
    opacity: 1;
    background-color: #333;
  }
}